<div class="p-6">
  <h2 class="text-2xl font-bold mb-6">{{ 'SUMMARY.TITLE' | translate }}</h2>

  <ng-container *ngIf="selectionKeys().length > 0; else noData">
    <div *ngFor="let entry of selectionKeys()" class="mb-6 border-b pb-4">
      <ng-container>
        <h3 class="text-xl font-semibold">
          {{ 'SUMMARY.EVENT' | translate }}: {{ selectionService.selections[entry].event.name }}
        </h3>
        <p>
          <strong>{{ 'SUMMARY.DATE' | translate }}:</strong>
          {{ selectionService.selections[entry].event.date }}
        </p>
        <p>
          <strong>{{ 'SUMMARY.SEATS' | translate }}:</strong>
          {{ getSelectedSeatIds(entry).join(', ') }}
        </p>
        <p>
          <strong>{{ 'SUMMARY.TOTAL' | translate }}:</strong>
          {{ selectionService.getTotal(entry) }} €
        </p>
      </ng-container>
    </div>

    <button
      class="mt-4 bg-zinc-800 dark:bg-white text-white dark:text-zinc-800 px-4 py-2 rounded"
      (click)="confirmPurchase()"
    >
      {{ 'SUMMARY.CONFIRM' | translate }}
    </button>
  </ng-container>

  <ng-template #noData>
    <p class="text-gray-500">{{ 'SUMMARY.NONE' | translate }}</p>
  </ng-template>
</div>
